@import url(http://fonts.googleapis.com/css?family=Roboto:700,400&subset=latin,cyrillic);
html,
body {
    height: 100%;
    background-color: #000000;
    background-image: url("../images/bg.jpg");
    background-position: 50% 26%;
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    background-repeat: no-repeat;
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 70px 15px 20px;
}

.footer {
    height: 60px;
    /*background-color: #f5f5f5;*/
    /*border-top: 1px solid #ddd;*/
    padding-top: 10px;
    margin-top: 10px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: /*"\e113"*/ "\e151";
}

a.desc:after {
    content: /*"\e114"*/ "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view th {
    white-space: nowrap;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}
.header {
    margin-top: 50px;
}
.header h1, .header h2{
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    text-align: center;
    margin: 0 auto;

}
.header h1{
    line-height: 50px;
    font-weight: bold;
}
.header h1 > span {
    padding: 3px 6px;
    border: 2px #fff solid;
}
span.blue{
    background-color: #002448;
    border-bottom: none;
    padding-bottom: 5px;
} 
span.red {
    background-color:#9d1313;
}
.header h2{
    font-size: 1.5em;
    margin-top: 10px;
}
.top-menu{
    border-radius: 0px 0px 4px 4px;
    border: #fff 2px solid;
    border-top: none;
    background: #002448;
    padding-left: 0px;
    padding-right: 0px;
    -moz-box-shadow: 0 0 10px #000;
    -webkit-box-shadow: 0 0 10px #000;
    box-shadow: 0 0 10px #000;
}
.navbar-nav.nav-justified > li{
    float:none;
    white-space: nowrap;
}
.navbar-nav.nav-justified > li :hover, .navbar-nav.nav-justified > li.active{
    background-color: #9d1313;
}

.navbar-nav.nav-justified > li a, .navbar-nav.nav-justified > li a:hover{
    color: #fff;
}

#slider-wrapper{
    background-color: #fff;
    width: 90%;
    margin: 20px auto 10px auto;
    border-radius: 5px;
    z-index: 10;
}
.content-area{
    margin-top: -150px;
    background-color: #fff;
    padding: 100px 25px 10px 25px;
    border-radius: 4px;
}
.slide-image{
    display: inline-block;
    width: 65%;
    border-right: #fff 5px solid;
}
.slide-caption{
    display: inline-block;
    width: 34.5%;
    vertical-align: top;
    background-color: #002448;
    color: #fff;
    padding-top: 15%;
    text-align: center;
}
ul.bxslider li {
    margin-left: -40px;
    background-color: #002448;
}
span.bg-arrow{
    font-size: 2.2em;
    color: #002448;
}
span.bg-arrow:hover{
    color: #9d1313;
}
span.next-arrow{
    padding-top: 20px;
}
span.prev-arrow{
    padding-left: 12px;
    padding-top: 20px;
}
.section-header{
    padding-bottom: 5px;
    border-bottom: #eee 1px solid;
}
div.new-thumbnail{
    display: inline-block;
    float: left;
    width: 30%;
    height: 20%;
    overflow: hidden;
    margin-right: 10px;
}
div.new-thumbnail img{
    max-width: 100%;
    max-height: 100%;
}
div.news-container{
    padding-top: 10px;
}
.item-title{
    text-transform: uppercase;
    font-weight: bold;
}
.item-date{
    padding-right: 5px;
}
div.new-item{
    margin-bottom: 10px;
}
.image-left{
    float: left;
    margin-right: 10px;
}
.more-label{
    font-size: 100%;
}
div.achivement{
   margin-bottom: 10px;
}
span.shadow{
    text-shadow: 8px 0 10px rgba(0, 0, 0, 1);
}
.item{
    overflow: hidden;
    margin-bottom: 10px;
    display: table-cell;
}
.item a{
    background-size: cover;
    background-position: center;
    width: 219px;
    height: 150px;
    display: block;
    text-indent: -9999999px;
}
.item-link{
    width: 100%;
}
.item-caption{
    text-align: center;
    background-color: #9d1313;
    color: #fff;
    font-size: 0.8em;
}
.img-project-index {
    width: 210px;
    float: left;
    margin-right: 5px;
    margin-bottom: 5px;
}
.img-container {
    display: block;
    height: 165px;
    background-size: cover;
    background-position: center center;
}
.delete-link{
    padding: 3px;
    background-color: #9d1313;
    color: #fff;
    border-radius: 4px;
}
.item-code{
    margin-bottom: 10px;
}
.competition-data{
    float: left;
    font-weight: bold;
    margin-right: 5px;
}
.competition-item{
    margin-left: 41px;

}
.slide-caption-title{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.1em;
}
.slide-caption-button{
    margin-top: 10px;
}
.sidebar-item{
    margin-bottom: 10px;
}
#vk_groups, #vk_groups iframe {
    width: 100%;!important;
}
#vk_groups{
    width: auto;!important;
}
.social{
    float: right;
}